.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 10;
    background-color: black;
}
#headerText{
    position: absolute;
    left: 50px;
    color: white;
}


/*column div containing */
.column {
    float: left;
    width: 30%;
    height: 180px;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    background-color: #FBFBFB;

}
#bankBtn{
    background-color: #EDEF4E;
    border-color: #EDEF4E;
}
#getAloanBtn{
    background-color: #4BF1A1;
    border-color: #4BF1A1;
    position: absolute;
    bottom: 30px;
    width: 8em;
    display: block;
    left: 150px;

}
#workBtn{
    background-color: #4D70F0;
    border-color: #4D70F0;
    float:right;
}
#buyNowBtn{
    background-color: #4CC9F1;
    border-color: #4CC9F1;
    width: 8em;

}

#payAmountBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    background-color: #E1BAE5;
    border-color: #E1BAE5;

}
.payAmountBtn{
    display: none;
}
button:hover{
   color: white;
}

/* row of column div */
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 80px;
}

.row2{
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 350px;
    border-radius: 25px;
    background-color: #FBFBFB;
}
#computerSelect{
    width: 40%;
}


h2, #computerPrice,p,ul,button,select,span{
font-family: "Trebuchet MS";
}

/*--------------------------DEFINER HVOR MONEY RADEN SKAL LIGGE-----------------------------------*/
.moneyRow{
    float:right;
}
.btnFirstRow{
    position: relative;
    bottom: -30px;
    width: 8em;
}
/* Bolding only the feature
p.feature{
    font-weight: bold;
}
*/

button{
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

ul#specifications {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
img{
    max-width: 13rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#imageDiv{
    justify-content: center;
    display: flex;
}
#outstandingLoanSpan{
    color: red;
    position: relative;
    bottom: 50px;

}
#loanHeading{
    color: red;
}